[{:author "Meter" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l2" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "51" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "Herbi" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l3" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "52" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "Feuerlöscher" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l4" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "53" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "52" :created nil :to-version 1}
 {:author "Gore" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l5" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "54" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "Imperator" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l6" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "55" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "PewPew" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l7" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "56" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "Greenwall" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l8" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "57" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l7" :created nil}
 {:author "PewPew" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l9" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "58" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "57" :created nil :to-version 1}
 {:author "Dr. Schlauschlau" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l10" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "59" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "57" :created nil :to-version 1}
 {:author "Hans" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l11" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "60" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l10" :created nil}
 {:author "Fiat Multipla" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l12" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "61" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "50" :created nil :to-version 1}
 {:author "Meter" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l13" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "62" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l12" :created nil}
 {:author "C. Meter" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l14" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "63" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "62" :created nil :to-version 1}
 {:author "Doomsday" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l15" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "64" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "61" :created nil :to-version 1}
 {:author "Pilot" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l16" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "65" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "61" :created nil :to-version 1}
 {:author "Meter" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l17" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "66" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l16" :created nil}
 {:author "Pilot" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l18" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "67" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l17" :created nil}
 {:author "Pensimax" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l19" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "68" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "66" :created nil :to-version 1}
 {:author "Feuerlöscher" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l21" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "2" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Bombur" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l22" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "6" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Freud" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l23" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "3" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Feuerlöscher" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l24" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "5" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l23" :created nil}
 {:author "Feuerlöscher" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l25" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "4" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "3" :created nil :to-version 1}
 {:author "Lucifer" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l26" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "8" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Balthasar" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l27" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "10" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l26" :created nil}
 {:author "Johnny" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l28" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "7" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Haniball" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l29" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "8" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l28" :created nil :to-version 1}
 {:author "Lucy" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l30" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "11" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Fallout" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l31" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "12" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "11" :created nil :to-version 1}
 {:author "LP" :type :support :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l32" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "20" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Feuerlöscher" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l33" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "21" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l32" :created nil}
 {:author "Carlos" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l34" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "22" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l32" :created nil}
 {:author "lolzor" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l35" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "23" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "22" :created nil :to-version 1}
 {:author "Bombur" :type :undercut :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l36" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "25" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "l35" :created nil}
 {:author "Indiana Jones" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l37" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "24" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "23" :created nil :to-version 1}
 {:author "Imperator" :type :attack :aggregate-id "cn.uni-duesseldorf.de" :entity-id "l38" :from-aggregate-id "cn.uni-duesseldorf.de" :from-entity-id "55" :from-version 1 :to-aggregate-id "cn.uni-duesseldorf.de" :to-entity-id "23" :created nil :to-version 1}]
