[{:content {:author {:name "deka" :dgep-native false :id 123} :text "der Kampf unentschieden ausfällt" :created nil} :identifier {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false :predecessors []}
 {:content {:author {:name "dekan" :dgep-native false :id 123} :text "der Kampf nicht unentschieden ausfallen kann. Zu irgend einem Zeitpunkt wird nur noch genau ein Tier leben. Dieses hat gewonnen" :created nil} :identifier {:aggregate-id "aggregator:8888" :entity-id "2" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "diepfe" :dgep-native false :id 123} :text "die Pferde fliehen und die meisten überleben werden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "woot" :dgep-native false :id 123} :text "sie ihre Energien aneinander aufrauchen werden und dann umfallen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "diepfe" :dgep-native false :id 123} :text "die Pferde fliehen und die meisten somit überleben werden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Wendy" :dgep-native false :id 123} :text "wenn die Pferde fliehen, gibt es keinen Kampf. Nach Vorraussetzung der Frage findet aber ein Kampf statt"} :identifier {:aggregate-id "aggregator:8888" :entity-id "6" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Pazi" :dgep-native false :id 123} :text "man alles dran setzen sollte, den ewigen Konflikt zu beenden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "elkawe" :dgep-native false :id 123} :text "der Kampf ein wundervolles Entertainment ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "11" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Adolf" :dgep-native false :id 123} :text "beide Abnormitäten aus dem Genpool entfernt werden sollten"} :identifier {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Hans" :dgep-native false :id 123} :text "diese Abnormitäten sich durchaus behaupten können"} :identifier {:aggregate-id "aggregator:8888" :entity-id "14" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Peta" :dgep-native false :id 123} :text "Tiere nur aussterben sollten, wenn sie sich nicht behaupten können"} :identifier {:aggregate-id "aggregator:8888" :entity-id "16" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Piece" :dgep-native false :id 123} :text "Frieden das beste für unsere Welt ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "!Leroy" :dgep-native false :id 123} :text "es besser ist, wenn sich diese aggressiven Tiere sich gegenseitig beschäftigen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "18" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "LongJohn" :dgep-native false :id 123} :text "sie sich im Frieden verbünden könnten. Anschließend könnten wir die gejagten sein. Eine neue Ära der Unterdrückung unter Herrschaft von tyrannischen Hühnern und grausamen Pferdchen erwartet uns"} :identifier {:aggregate-id "aggregator:8888" :entity-id "20" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Johnny" :dgep-native false :id 123} :text "Und wen grillen wir, wenn sich die Viecher nicht gegenseitig abmurksen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "21" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "elkawe" :dgep-native false :id 123} :text "Frieden zwischen Riesenhühnern und Mini-Pferden sehr langweilig ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Piece" :dgep-native false :id 123} :text "Frieden unser größtes Ziel sein sollte :)"} :identifier {:aggregate-id "aggregator:8888" :entity-id "23" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Reuter" :dgep-native false :id 123} :text "einem egal sein sollte wer von beiden Verliert"} :identifier {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Johnny" :dgep-native false :id 123} :text "wenn alle leben, kann man alle Essen! Lecker Lasagne"} :identifier {:aggregate-id "aggregator:8888" :entity-id "36" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Johnny" :dgep-native false :id 123} :text "Lasagne schmeckt immer gut! Mjam Mjam Mjam"} :identifier {:aggregate-id "aggregator:8888" :entity-id "40" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Menschenfreund" :dgep-native false :id 123} :text "Es ist besser Nutztiere zu halten als die Ausrottung einer potenziell köstlichen Nahrungsquelle zu riskieren. Lasagne"} :identifier {:aggregate-id "aggregator:8888" :entity-id "41" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Melvin" :dgep-native false :id 123} :text "wir dann möglicherweise zu wenig Daten generieren"} :identifier {:aggregate-id "aggregator:8888" :entity-id "42" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Haniball" :dgep-native false :id 123} :text "Fleisch ist Fleisch"} :identifier { :aggregate-id "aggregator:8888" :entity-id "43" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Susi" :dgep-native false :id 123} :text "die 100 Pferde deutlich aufwendiger zuzubereiten sind"} :identifier { :aggregate-id "aggregator:8888" :entity-id "44" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Johnny" :dgep-native false :id 123} :text "Das Riesen Huhn brät ewig auf dem Grill"} :identifier {:aggregate-id "aggregator:8888" :entity-id "45" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author {:name "Haniball" :dgep-native false :id 123} :text "das Huhn natürlich (mit geringem Aufwand) vorher zerlegt werden muss"} :identifier {:aggregate-id "aggregator:8888" :entity-id "46" :version 1} :delete-flag false :predecessors []}]
