[{:content {:author "deka" :content-string "der Kampf unentschieden ausfällt" :created nil} :identifier {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false :predecessors []}
 {:content {:author "dekan" :content-string "der Kampf nicht unentschieden ausfallen kann. Zu irgend einem Zeitpunkt wird nur noch genau ein Tier leben. Dieses hat gewonnen" :created nil} :identifier {:aggregate-id "aggregator:8888" :entity-id "2" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "diepfe" :content-string "die Pferde fliehen und die meisten überleben werden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "woot" :content-string "sie ihre Energien aneinander aufrauchen werden und dann umfallen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "diepfe" :content-string "die Pferde fliehen und die meisten somit überleben werden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Wendy" :content-string "wenn die Pferde fliehen, gibt es keinen Kampf. Nach Vorraussetzung der Frage findet aber ein Kampf statt"} :identifier {:aggregate-id "aggregator:8888" :entity-id "6" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Pazi" :content-string "man alles dran setzen sollte, den ewigen Konflikt zu beenden"} :identifier {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "elkawe" :content-string "der Kampf ein wundervolles Entertainment ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "11" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Adolf" :content-string "beide Abnormitäten aus dem Genpool entfernt werden sollten"} :identifier {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Hans" :content-string "diese Abnormitäten sich durchaus behaupten können"} :identifier {:aggregate-id "aggregator:8888" :entity-id "14" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Peta" :content-string "Tiere nur aussterben sollten, wenn sie sich nicht behaupten können"} :identifier {:aggregate-id "aggregator:8888" :entity-id "16" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Piece" :content-string "Frieden das beste für unsere Welt ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "!Leroy" :content-string "es besser ist, wenn sich diese aggressiven Tiere sich gegenseitig beschäftigen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "18" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "LongJohn" :content-string "sie sich im Frieden verbünden könnten. Anschließend könnten wir die gejagten sein. Eine neue Ära der Unterdrückung unter Herrschaft von tyrannischen Hühnern und grausamen Pferdchen erwartet uns"} :identifier {:aggregate-id "aggregator:8888" :entity-id "20" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Johnny" :content-string "Und wen grillen wir, wenn sich die Viecher nicht gegenseitig abmurksen"} :identifier {:aggregate-id "aggregator:8888" :entity-id "21" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "elkawe" :content-string "Frieden zwischen Riesenhühnern und Mini-Pferden sehr langweilig ist"} :identifier {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Piece" :content-string "Frieden unser größtes Ziel sein sollte :)"} :identifier {:aggregate-id "aggregator:8888" :entity-id "23" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Reuter" :content-string "einem egal sein sollte wer von beiden Verliert"} :identifier {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Johnny" :content-string "wenn alle leben, kann man alle Essen! Lecker Lasagne"} :identifier {:aggregate-id "aggregator:8888" :entity-id "36" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Johnny" :content-string "Lasagne schmeckt immer gut! Mjam Mjam Mjam"} :identifier {:aggregate-id "aggregator:8888" :entity-id "40" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Menschenfreund" :content-string "Es ist besser Nutztiere zu halten als die Ausrottung einer potenziell köstlichen Nahrungsquelle zu riskieren. Lasagne"} :identifier {:aggregate-id "aggregator:8888" :entity-id "41" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Melvin" :content-string "wir dann möglicherweise zu wenig Daten generieren"} :identifier {:aggregate-id "aggregator:8888" :entity-id "42" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Haniball" :content-string "Fleisch ist Fleisch"} :identifier { :aggregate-id "aggregator:8888" :entity-id "43" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Susi" :content-string "die 100 Pferde deutlich aufwendiger zuzubereiten sind"} :identifier { :aggregate-id "aggregator:8888" :entity-id "44" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Johnny" :content-string "Das Riesen Huhn brät ewig auf dem Grill"} :identifier {:aggregate-id "aggregator:8888" :entity-id "45" :version 1} :delete-flag false :predecessors []}
 {:content {:created nil :author "Haniball" :content-string "das Huhn natürlich (mit geringem Aufwand) vorher zerlegt werden muss"} :identifier {:aggregate-id "aggregator:8888" :entity-id "46" :version 1} :delete-flag false :predecessors []}]
