[{:author {:name "woot" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l2"} :source {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author {:name "dekan" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l3"} :source {:aggregate-id "aggregator:8888" :entity-id "2" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author {:name "diepfe" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l4"} :source {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author {:name "diepfe" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l5"} :source {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :delete-flag false}
 {:author {:name "diepfe" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l6"} :source {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author {:name "Wendy" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l7"} :source {:aggregate-id "aggregator:8888" :entity-id "6" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :delete-flag false}
 {:author {:name "Johnny" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l9"} :source {:aggregate-id "aggregator:8888" :entity-id "36" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author {:name "Melvin" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l10"} :source {:aggregate-id "aggregator:8888" :entity-id "42" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author {:name "Johnny" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l11"} :source {:aggregate-id "aggregator:8888" :entity-id "40" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author {:name "Haniball" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l12"} :source {:aggregate-id "aggregator:8888" :entity-id "43" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author {:name "Menschenfreund" :dgep-native false :id 666} :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l13"} :source {:aggregate-id "aggregator:8888" :entity-id "41" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l11" :version 1} :delete-flag false}
 {:author {:name "Susi" :dgep-native false :id 666} :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l14"} :source {:aggregate-id "aggregator:8888" :entity-id "44" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l12" :version 1} :delete-flag false}
 {:author {:name "Johnny" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l15"} :source {:aggregate-id "aggregator:8888" :entity-id "45" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "44" :version 1} :delete-flag false}
 {:author {:name "Haniball" :dgep-native false :id 666} :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l16"} :source {:aggregate-id "aggregator:8888" :entity-id "46" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l15" :version 1} :delete-flag false}
 {:author {:name "elkawe" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l18"} :source {:aggregate-id "aggregator:8888" :entity-id "11" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author {:name "Adolf" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l19"} :source {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author {:name "Hans" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l20"} :source {:aggregate-id "aggregator:8888" :entity-id "14" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false}
 {:author {:name "Peta" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l21"} :source {:aggregate-id "aggregator:8888" :entity-id "16" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false}
 {:author {:name "Piece" :dgep-native false :id 666} :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l22"} :source {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author {:name "!Leroy" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l23"} :source {:aggregate-id "aggregator:8888" :entity-id "18" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author {:name "Johnny" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l24"} :source {:aggregate-id "aggregator:8888" :entity-id "21" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author {:name "LongJohn" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l25"} :source {:aggregate-id "aggregator:8888" :entity-id "20" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author {:name "elkawe" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l26"} :source {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author {:name "Piece" :dgep-native false :id 666} :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l27"} :source {:aggregate-id "aggregator:8888" :entity-id "23" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :delete-flag false}]
