[{:author "woot" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l2"} :source {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author "dekan" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l3"} :source {:aggregate-id "aggregator:8888" :entity-id "2" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author "diepfe" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l4"} :source {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author "diepfe" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l5"} :source {:aggregate-id "aggregator:8888" :entity-id "3" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "4" :version 1} :delete-flag false}
 {:author "diepfe" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l6"} :source {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "1" :version 1} :delete-flag false}
 {:author "Wendy" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l7"} :source {:aggregate-id "aggregator:8888" :entity-id "6" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "5" :version 1} :delete-flag false}
 {:author "Johnny" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l9"} :source {:aggregate-id "aggregator:8888" :entity-id "36" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author "Melvin" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l10"} :source {:aggregate-id "aggregator:8888" :entity-id "42" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author "Johnny" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l11"} :source {:aggregate-id "aggregator:8888" :entity-id "40" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author "Haniball" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l12"} :source {:aggregate-id "aggregator:8888" :entity-id "43" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "35" :version 1} :delete-flag false}
 {:author "Menschenfreund" :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l13"} :source {:aggregate-id "aggregator:8888" :entity-id "41" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l11" :version 1} :delete-flag false}
 {:author "Susi" :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l14"} :source {:aggregate-id "aggregator:8888" :entity-id "44" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l12" :version 1} :delete-flag false}
 {:author "Johnny" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l15"} :source {:aggregate-id "aggregator:8888" :entity-id "45" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "44" :version 1} :delete-flag false}
 {:author "Haniball" :type :undercut :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l16"} :source {:aggregate-id "aggregator:8888" :entity-id "46" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "l15" :version 1} :delete-flag false}
 {:author "elkawe" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l18"} :source {:aggregate-id "aggregator:8888" :entity-id "11" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author "Adolf" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l19"} :source {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author "Hans" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l20"} :source {:aggregate-id "aggregator:8888" :entity-id "14" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false}
 {:author "Peta" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l21"} :source {:aggregate-id "aggregator:8888" :entity-id "16" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "12" :version 1} :delete-flag false}
 {:author "Piece" :type :support :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l22"} :source {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "10" :version 1} :delete-flag false}
 {:author "!Leroy" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l23"} :source {:aggregate-id "aggregator:8888" :entity-id "18" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author "Johnny" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l24"} :source {:aggregate-id "aggregator:8888" :entity-id "21" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author "LongJohn" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l25"} :source {:aggregate-id "aggregator:8888" :entity-id "20" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author "elkawe" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l26"} :source {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "17" :version 1} :delete-flag false}
 {:author "Piece" :type :attack :identifier {:version 1 :aggregate-id "aggregator:8888" :entity-id "l27"} :source {:aggregate-id "aggregator:8888" :entity-id "23" :version 1} :created nil :destination {:aggregate-id "aggregator:8888" :entity-id "22" :version 1} :delete-flag false}]
