[{:author "woot" :type :support :aggregate-id "hhu.de" :entity-id "l2" :from-aggregate-id "hhu.de" :from-entity-id "4" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "dekan" :type :attack :aggregate-id "hhu.de" :entity-id "l3" :from-aggregate-id "hhu.de" :from-entity-id "2" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "diepfe" :type :support :aggregate-id "hhu.de" :entity-id "l4" :from-aggregate-id "hhu.de" :from-entity-id "3" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "diepfe" :type :attack :aggregate-id "hhu.de" :entity-id "l5" :from-aggregate-id "hhu.de" :from-entity-id "3" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "4" :created nil :to-version 1}
 {:author "diepfe" :type :support :aggregate-id "hhu.de" :entity-id "l6" :from-aggregate-id "hhu.de" :from-entity-id "5" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "1" :created nil :to-version 1}
 {:author "Wendy" :type :attack :aggregate-id "hhu.de" :entity-id "l7" :from-aggregate-id "hhu.de" :from-entity-id "6" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "5" :created nil :to-version 1}
 {:author "Johnny" :type :attack :aggregate-id "hhu.de" :entity-id "l9" :from-aggregate-id "hhu.de" :from-entity-id "36" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "35" :created nil :to-version 1}
 {:author "Melvin" :type :attack :aggregate-id "hhu.de" :entity-id "l10" :from-aggregate-id "hhu.de" :from-entity-id "42" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "35" :created nil :to-version 1}
 {:author "Johnny" :type :support :aggregate-id "hhu.de" :entity-id "l11" :from-aggregate-id "hhu.de" :from-entity-id "40" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "35" :created nil :to-version 1}
 {:author "Haniball" :type :support :aggregate-id "hhu.de" :entity-id "l12" :from-aggregate-id "hhu.de" :from-entity-id "43" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "35" :created nil :to-version 1}
 {:author "Menschenfreund" :type :undercut :aggregate-id "hhu.de" :entity-id "l13" :from-aggregate-id "hhu.de" :from-entity-id "41" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "l11" :created nil}
 {:author "Susi" :type :undercut :aggregate-id "hhu.de" :entity-id "l14" :from-aggregate-id "hhu.de" :from-entity-id "44" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "l12" :created nil}
 {:author "Johnny" :type :attack :aggregate-id "hhu.de" :entity-id "l15" :from-aggregate-id "hhu.de" :from-entity-id "45" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "44" :created nil :to-version 1}
 {:author "Haniball" :type :undercut :aggregate-id "hhu.de" :entity-id "l16" :from-aggregate-id "hhu.de" :from-entity-id "46" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "l15" :created nil}
 {:author "elkawe" :type :attack :aggregate-id "hhu.de" :entity-id "l18" :from-aggregate-id "hhu.de" :from-entity-id "11" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "10" :created nil :to-version 1}
 {:author "Adolf" :type :support :aggregate-id "hhu.de" :entity-id "l19" :from-aggregate-id "hhu.de" :from-entity-id "12" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "10" :created nil :to-version 1}
 {:author "Hans" :type :attack :aggregate-id "hhu.de" :entity-id "l20" :from-aggregate-id "hhu.de" :from-entity-id "14" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "12" :created nil :to-version 1}
 {:author "Peta" :type :attack :aggregate-id "hhu.de" :entity-id "l21" :from-aggregate-id "hhu.de" :from-entity-id "16" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "12" :created nil :to-version 1}
 {:author "Piece" :type :support :aggregate-id "hhu.de" :entity-id "l22" :from-aggregate-id "hhu.de" :from-entity-id "17" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "10" :created nil :to-version 1}
 {:author "!Leroy" :type :attack :aggregate-id "hhu.de" :entity-id "l23" :from-aggregate-id "hhu.de" :from-entity-id "18" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "17" :created nil :to-version 1}
 {:author "Johnny" :type :attack :aggregate-id "hhu.de" :entity-id "l24" :from-aggregate-id "hhu.de" :from-entity-id "21" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "17" :created nil :to-version 1}
 {:author "LongJohn" :type :attack :aggregate-id "hhu.de" :entity-id "l25" :from-aggregate-id "hhu.de" :from-entity-id "20" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "17" :created nil :to-version 1}
 {:author "elkawe" :type :attack :aggregate-id "hhu.de" :entity-id "l26" :from-aggregate-id "hhu.de" :from-entity-id "22" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "17" :created nil :to-version 1}
 {:author "Piece" :type :attack :aggregate-id "hhu.de" :entity-id "l27" :from-aggregate-id "hhu.de" :from-entity-id "23" :from-version 1 :to-aggregate-id "hhu.de" :to-entity-id "22" :created nil :to-version 1}]
