[{:content {:author "erazor" :content-string "die hundert Pferde gewinnen" :created nil} :identifier {:entity-id "1" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Feuerlöscher" :content-string "Als direkter Nachfahre der Dinosaurier sind Hühner schlicht der überlegene Gegner" :created nil} :identifier {:entity-id "2" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Freud" :content-string "Pferde sind leider zu doof" :created nil} :identifier {:entity-id "3" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Feuerlöscher" :content-string "Pferde im Vergleich zu Hühner ein ausgeprägtes Sozial- und Kommunikationsverhalten zeigen" :created nil}  :identifier {:entity-id "4" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Feuerlöscher" :content-string "Hühner nicht intelligenter sind" :identifier {:entity-id "5" :aggregate-id "aggregator_set2:8888" :created nil}  :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Bombur" :content-string "Pferde sind Fluchttiere. Ein riesiges Huhn kann sie jagen. Kann sie zerstören. Kann sie vernichten" :created nil}  :identifier {:entity-id "6" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Johnny" :content-string "Lasagne schmeckt immer gut" :created nil}  :identifier {:entity-id "7" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Haniball" :content-string "Das Huhn Lasagne sicher auch mag" :created nil}  :identifier {:entity-id "8" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Lucifer" :content-string "Pferde keine Hörner haben" :created nil}  :identifier {:entity-id "9" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Balthasar" :content-string "Hühner auch keine Hörner haben" :created nil}  :identifier {:entity-id "10" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Lucy" :content-string "Pferde sind zu gutmütig" :created nil}  :identifier {:entity-id "11" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Fallout" :content-string "Sich der Krieg nie ändert" :created nil}  :identifier {:entity-id "12" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "LP" :content-string "die große Anzahl an Pferden, die geringe Größe eine einzelnen Pferde, in Summe mehr als aufwiegt" :created nil}  :identifier {:entity-id "20" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Feuerlöscher" :content-string "sie dem Huhn keinen Schaden beibringen können. Das Huhn durch Flügelschläge, den enormen Schnabel, oder die Krallen an den Füßen gleich mehrere Pferde gleichzeitig töten kann. Ein Gemetzel" :created nil}  :identifier {:entity-id "21" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Carlos" :content-string "eine zu große Anzahl gegen ein einzelnes Ziel eher hinderlich ist" :created nil}  :identifier {:entity-id "22" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "lolzor" :content-string "die Pferde das Huhn langsam zu tode trampeln" :created nil}  :identifier {:entity-id "23" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Indiana Jones" :content-string "Die Mini-Pferde können Hühner einfach nur kitzeln. Mehr nicht" :created nil}  :identifier {:entity-id "24" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Bombur" :content-string "vermutlich auch genug Pferde von dem übergroßen Huhn tod getrampelt werden" :created nil}  :identifier {:entity-id "25" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "McGockles" :content-string "das Huhn gewinnen würde" :created nil}  :identifier {:entity-id "50" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Meter" :content-string "die Pferde nicht mal so groß sind wie die Beine des Huhns. -> Die Pferde können dem Huhn (fast) nichts tun" :created nil}  :identifier {:entity-id "51" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Herbi" :content-string "es fliegen kann. So wird es für die Pferde schwer, das Huhn zu attackieren" :created nil}  :identifier {:entity-id "52" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Feuerlöscher" :content-string "Hühner nicht fliegen können" :created nil}  :identifier {:entity-id "53" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Gore" :content-string "der Schnabel größer wäre als ein Menschlicher Kopf!? Zack. Kopf weg" :created nil} :identifier {:entity-id "54" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Imperator" :content-string "Die Federn eines pferdegroßen Huhns so dick sind, dass die Mini Pferde keinen Schaden anrichten können" :created nil}  :identifier {:entity-id "55" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "PewPew" :content-string "es Laseraugen hat" :created nil}  :identifier {:entity-id "56" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Greenwall" :content-string "Laseraugen keinen erkennbaren Vorteil im Kampf gegen hundert Pferde bringen" :created nil}  :identifier {:entity-id "57" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "PewPew" :content-string "Laseraugen durchaus mehrere huhngroße Pferde pro Sekunde rösten können" :created nil}  :identifier {:entity-id "58" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Dr. Schlauschlau" :content-string "Laser traditionell zu den Doomsday-Waffen zu zählen sind" :created nil}  :identifier {:entity-id "59" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Hans" :content-string "die Kategorisierung einer Waffe alleine keinen Aufschluss über den Kampfwert gibt" :created nil}  :identifier {:entity-id "60" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Fiat Multipla" :content-string "ein Huhn auf Pferde im Rücken nicht reagieren kann, wenn es gleichzeitig von vorne angegriffen wird" :created nil}  :identifier {:entity-id "61" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Meter" :content-string "die Größe der Pferde nicht ausreicht, um dem Huhn zu schaden. Folglich kann das Huhn aus allen Richtungen agegriffen werden ohne in Bedrängnis zu geraten" :created nil}  :identifier {:entity-id "62" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "C. Meter" :content-string "ein huhngroßes Huhn ca. 40 cm groß ist und daher ein huhngroßes Pferd ebenfalls 40cm groß ist. Schon deutlich kleinere Tiere können Menschen/Tiere Schaden zufügen" :created nil}  :identifier {:entity-id "63" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Doomsday" :content-string "Auf dem Rücken des Huhns sind sie verloren! Das Huhn kann sie so nur noch einfacher zu ihrem Nest von Kalbsgroßen Kpken bringen und den blutrünstigen Nachwuchs heranzüchten" :created nil}  :identifier {:entity-id "64" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Pilot" :content-string "Hühner können zumindest kurz fliegen. Somit können Feinde vom Rücken abgeschüttelt werden. Das alleine kann tödlich enden" :created nil}  :identifier {:entity-id "65" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Meter" :content-string "die Fallhöhe nicht so groß ist, dass alle Pferde sterben, wenn sie runterfallen. Sie beträgt maximal 1 Meter" :created nil}  :identifier {:entity-id "66" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Pilot" :content-string "selbst wenn die Fallhöhe nicht tödlich ist, können die Pferde dem Huhn dann nicht mehr gefährlich werden" :created nil}  :identifier {:entity-id "67" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}
 {:content {:author "Pensimax" :content-string "Die Fallhöhe ist mitunter nicht hoch genug um die Pferde zu töten, aber sie bringen sie definitiv in einen taktischen Nachteil. Die Chance auf tödliche Verletzungen ist dennoch da" :created nil}  :identifier {:entity-id "68" :aggregate-id "aggregator_set2:8888" :version 1} :delete-flag false :predecessors {}}]
