[{:author "Meter" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l2" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "51" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "Herbi" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l3" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "52" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "Feuerlöscher" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l4" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "53" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "52" :version 1} :created nil }
 {:author "Gore" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l5" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "54" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "Imperator" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l6" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "55" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "PewPew" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l7" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "56" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "Greenwall" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l8" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "57" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l7" :version 1} :created nil}
 {:author "PewPew" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l9" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "58" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "57" :version 1} :created nil }
 {:author "Dr. Schlauschlau" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l10" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "59" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "57" :version 1} :created nil }
 {:author "Hans" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l11" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "60" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l10" :version 1} :created nil}
 {:author "Fiat Multipla" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l12" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "61" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "50" :version 1} :created nil }
 {:author "Meter" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l13" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "62" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l12" :version 1} :created nil}
 {:author "C. Meter" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l14" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "63" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "62" :version 1} :created nil }
 {:author "Doomsday" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l15" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "64" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "61" :version 1} :created nil }
 {:author "Pilot" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l16" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "65" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "61" :version 1} :created nil }
 {:author "Meter" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l17" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "66" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l16" :version 1} :created nil}
 {:author "Pilot" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l18" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "67" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l17" :version 1} :created nil}
 {:author "Pensimax" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l19" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "68" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "66" :version 1} :created nil }
 {:author "Feuerlöscher" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l21" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "2" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Bombur" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l22" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "6" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Freud" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l23" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "3" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Feuerlöscher" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l24" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "5" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l23" :version 1} :created nil}
 {:author "Feuerlöscher" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l25" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "4" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "3" :version 1} :created nil }
 {:author "Lucifer" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l26" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "8" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Balthasar" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l27" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "10" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l26" :version 1} :created nil}
 {:author "Johnny" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l28" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "7" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Haniball" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l29" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "8" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l28" :version 1} :created nil }
 {:author "Lucy" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l30" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "11" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Fallout" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l31" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "12" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "11" :version 1} :created nil }
 {:author "LP" :type :support :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l32" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "20" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "1" :version 1} :created nil }
 {:author "Feuerlöscher" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l33" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "21" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l32" :version 1} :created nil}
 {:author "Carlos" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l34" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "22" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l32" :version 1} :created nil}
 {:author "lolzor" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l35" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "23" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "22" :version 1} :created nil }
 {:author "Bombur" :type :undercut :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l36" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "25" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "l35" :version 1} :created nil}
 {:author "Indiana Jones" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l37" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "24" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "23" :version 1} :created nil }
 {:author "Imperator" :type :attack :identifier {:aggregate-id "aggregator_set2:8888" :entity-id "l38" :version 1} :source {:aggregate-id "aggregator_set2:8888" :entity-id "55" :version 1 } :destination {:aggregate-id "aggregator_set2:8888" :entity-id "23" :version 1} :created nil }]
